
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead","Default")
<body data-spy="scroll" data-target="#site-navbar" data-offset="200">

    @Html.Action("PartialNavbar","Default")
    <!-- END nav -->


    <!-- END section -->

    @Html.Action("PartialAbout","Default")
    <!-- END section -->


    @Html.Action("PartialOffer","Default")
    <!-- END section -->

    @Html.Action("PartialMenu","Default")
    <!-- END section -->

    
    <!-- END section -->

    @Html.Action("PartialGaleri","Default")
    <!-- END section -->

    @Html.Action("PartialContact","Default")
    <div id="map"></div>
    <!-- END section -->


    @Html.Action("PartialFooter","Default")




    <!-- Modal -->
    @Html.Action("PartialReservation","Default")

    <!-- END Modal -->
    <!-- loader -->
  @Html.Action("PartialScript","Default")


</body>
</html>